.header-contacts {
  margin-left: 46px;
  margin-bottom: 18px;
}
.header-actions {
  padding: 52px 0 0;
}

.header-txt {
  color: $white;
  font-size: $txt-md;
  line-height: $h4-ln-height;
  font-weight: 700;
  transition: 0.3s ease;
  &__indent {
    margin: 0 7px;
    transition: 0.3s ease;
  }
}

.header-txt__hover:hover {
  color: $pink;
}
.header-txt__address {
  color: $white;
  font-size: $txt-md;
  line-height: 20px;

  font-weight: 400;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav-item {
  &:hover {
    color: $pink;
    border-bottom: 2px solid $pink;
  }
}
.logo-center {
  width: 356px;
  height: 799px;
  position: revert;
}

.h3 {
  color: $white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 43px;
}
.block_txt {
  width: 800px;
  height: 46px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 382px;
  left: 315px;
}
.txt-p_block {
  width: 581px;
  height: 150px;
}
.txt-p {
  color: $white;
  font-size: 19px;
  line-height: 30px;
}

.lang-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  height: 25px;
}
.lang-item:hover {
  border-radius: 8px;
  background-color: $pink;
}

.block__consistent {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.consistent--h2 {
  padding-top: 15px;
  padding-right: 60px;
}

.consistent--h3 {
  padding-top: 43px;
  padding-left: 54px;
}
.section-first__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #fff;
  padding-bottom: 94px;
}
.h1 {
  color: $white;
  font-size: $fs-h1;
  font-weight: 700;
  line-height: $h1-ln-height;
  padding-top: 10px;
  &__consistent {
    text-align: right;
    padding-bottom: 30px;
    color: $white;
    cursor: pointer;
    transition: border-color 0.3s ease;
    &:hover {
      color: $pink;
    }
  }
}
@media screen and (max-width: $sm) {
  .h1 {
    font-size: 30px;
  }
}
.color_pink {
  color: $pink;
}

.line_vertical {
  border: 1px solid $white;
}

.row_1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-left: -30px;
  padding-bottom: 60px;
}

.card_1 {
  max-width: 400px;
  padding: 0 30px;
  margin-top: 60px;
}
.h4 {
  font-size: 22px;
  color: $blue;

  font-weight: 700;
  &__indent {
    font-size: 16px;
  }
}

.txt {
  line-height: $h3-ln-height;
  font-size: $txt-md;
  color: $white;
  font-weight: 400;
}

.card__img {
  padding-bottom: 30px;
  padding-top: 30px;
}
.card__img_1 {
  margin-bottom: 30px;
}
.link_txt {
  color: $blue;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  transition: 0.3s ease;
  &::after {
    content: "";
    border: solid #24a3ff;
    position: absolute;
    top: 5px;
    right: -9px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(313deg);
    cursor: pointer;
    transition: 0.3s ease;
  }
  &:hover {
    color: $pink;
    &::after {
      border-color: $pink;
    }
  }
}

.services_block {
  padding-top: 79px;
}

@for $i from 1 through $gd-col {
  .col-#{$i} {
    max-width: $gd-size * $i;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
}
