@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
}

a {
  text-decoration: none;
}

.header-contacts {
  margin-left: 46px;
  margin-bottom: 18px;
}

.header-actions {
  padding: 52px 0 0;
}

.header-txt {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-txt__indent {
  margin: 0 7px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-txt__hover:hover {
  color: #f0145a;
}

.header-txt__address {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item:hover {
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
}

.logo-center {
  width: 356px;
  height: 799px;
  position: revert;
}

.h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 43px;
}

.block_txt {
  width: 800px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 382px;
  left: 315px;
}

.txt-p_block {
  width: 581px;
  height: 150px;
}

.txt-p {
  color: #ffffff;
  font-size: 19px;
  line-height: 30px;
}

.lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  height: 25px;
}

.lang-item:hover {
  border-radius: 8px;
  background-color: #f0145a;
}

.block__consistent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.consistent--h2 {
  padding-top: 15px;
  padding-right: 60px;
}

.consistent--h3 {
  padding-top: 43px;
  padding-left: 54px;
}

.section-first__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #fff;
  padding-bottom: 94px;
}

.h1 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  padding-top: 10px;
}

.h1__consistent {
  text-align: right;
  padding-bottom: 30px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.h1__consistent:hover {
  color: #f0145a;
}

@media screen and (max-width: 576px) {
  .h1 {
    font-size: 30px;
  }
}

.color_pink {
  color: #f0145a;
}

.line_vertical {
  border: 1px solid #ffffff;
}

.row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-left: -30px;
  padding-bottom: 60px;
}

.card_1 {
  max-width: 400px;
  padding: 0 30px;
  margin-top: 60px;
}

.h4 {
  font-size: 22px;
  color: #24a3ff;
  font-weight: 700;
}

.h4__indent {
  font-size: 16px;
}

.txt {
  line-height: 27px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

.card__img {
  padding-bottom: 30px;
  padding-top: 30px;
}

.card__img_1 {
  margin-bottom: 30px;
}

.link_txt {
  color: #24a3ff;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.link_txt::after {
  content: "";
  border: solid #24a3ff;
  position: absolute;
  top: 5px;
  right: -9px;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(313deg);
          transform: rotate(313deg);
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.link_txt:hover {
  color: #f0145a;
}

.link_txt:hover::after {
  border-color: #f0145a;
}

.services_block {
  padding-top: 79px;
}

.col-1 {
  max-width: 8.33333%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.col-2 {
  max-width: 16.66667%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.col-3 {
  max-width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.col-4 {
  max-width: 33.33333%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.col-5 {
  max-width: 41.66667%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.col-6 {
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.col-7 {
  max-width: 58.33333%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.col-8 {
  max-width: 66.66667%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.col-9 {
  max-width: 75%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.col-10 {
  max-width: 83.33333%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.col-11 {
  max-width: 91.66667%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.col-12 {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.main_2 {
  width: 1440px;
}

.card_2 {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .card_2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 623px;
  }
  .card_2 .card__image {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 12px 12px 0 0;
  }
}

.card__conter_2 {
  max-width: 100%;
  background-color: #f5f5fa;
  border-radius: 0 15px 15px 0;
  padding: 30px 0 0 30px;
}

@media screen and (max-width: 768px) {
  .card__conter_2 {
    border-radius: 0 0 15px 15px;
    padding: 15px;
  }
}

.txt_2 {
  color: #b3b3ba;
  font-size: 16px;
  font-weight: 700;
  padding: 30px 0 6px;
}

.txt_p2 {
  color: #b3b3ba;
  font-size: 14px;
  padding-bottom: 30px;
}

.h5 {
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.txt--uppercase {
  text-transform: uppercase;
}

.circle-button__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.circle-button {
  border: none;
  width: 16px;
  height: 16px;
  background-color: #24a3ff;
  border-radius: 50%;
  margin: 0px 7px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0.2;
}

.circle-button:hover {
  opacity: 0.8;
  background-color: #24a3ff;
}

.clients-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

.hr-line {
  height: 1px;
  background-color: #e6e6f0;
}

.row_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_3 {
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.card__img_3 {
  max-width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__conter_3 {
  margin: 30px;
}

section.about-slider-sect {
  background-color: #f5f5fa;
  padding: 30px 0;
  border-radius: 12px 12px 0 0;
}

.txt_date {
  font-size: 12px;
  color: #b3b3ba;
  padding-bottom: 15px;
  font-weight: 700;
}

.txt_card_3 {
  padding-top: 15px;
  font-size: 14px;
  line-height: 22px;
}

.partners__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

.partners__cell {
  width: 360px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partners__cell--color-1 {
  background-color: #1c4280;
}

.partners__cell--color-2 {
  background-color: #143646;
}

.partners__cell--color-3 {
  background-color: #f48b30;
}

.partners__cell--color-4 {
  background-color: #9e4dc3;
}

.partners__cell--color-5 {
  background-color: #fd9339;
}

.partners__cell--color-6 {
  background-color: #e2e2e4;
}

.partners__cell--color-7 {
  background-color: #c71c36;
}

.partners__cell--color-8 {
  background-color: #dcf3f9;
}

.partners__cell--color-9 {
  background-color: #eaeaea;
}

.partners__cell--color-10 {
  background-color: #282240;
}

.partners__cell--color-11 {
  background-color: #1d4568;
}

.partners__cell--color-12 {
  background-color: #000000;
}

.container_logo_main_2 {
  max-width: 1440px;
  margin: 0 auto;
}

.card__image {
  width: 400px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 0 0 12px;
}

.footer {
  background-color: #f5f5fa;
  padding-bottom: 30px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer-box {
  border-top: 2px solid #e6e6f0;
  padding-top: 30px;
}

.blue-dark-alt {
  color: #46466e;
}

.txt-md {
  font-size: 16px;
}

.grey-txt {
  color: #b3b3ba;
}

.footer--grid {
  display: -ms-grid;
  display: grid;
  gap: 21px;
      grid-template-areas: "adress copyright" "phone phone";
}

.footer-grid__adress {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: adress;
}

.footer-grid__contact {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: phone;
}

.footer-grid__copyright {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: copyright;
}

.copyright-txt {
  text-align: end;
}

.point {
  height: 6px;
  width: 6px;
  background-color: #b3b3ba;
  border-radius: 50%;
  margin: 0 10px;
}

.point__head {
  margin: 6px 6px;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
}

.section-gradient {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0px 0px 12px 12px;
  min-height: 100vh;
  margin-bottom: 20px;
  position: relative;
}

.section-gradient__shadow {
  position: absolute;
  border-radius: 0px 0px 12px 12px;
  height: 10px;
}

.section-gradient__shadow-1 {
  width: calc(100% - 40px);
  background: #cacadb;
  bottom: -10px;
  left: 20px;
}

.section-gradient__shadow-2 {
  width: calc(100% - 80px);
  background: #e7e7f2;
  bottom: -20px;
  left: 40px;
}

.main-wrap {
  min-height: 100vh;
  position: relative;
}

.main-wrap-bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.main-wrap-bg__h {
  position: absolute;
  height: 100%;
}

.section-first {
  min-height: 100vh;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-first__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-first__button {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-grid {
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo info" "logo nav";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "info" "logo" "nav";
  }
}

@media screen and (max-width: 576px) {
  .header-grid {
    padding-top: 0;
  }
}

.header-grid__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: logo;
}

.header-grid__info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
}

@media screen and (max-width: 768px) {
  .header-grid__info {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 576px) {
  .header-grid__info {
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: -30px;
    margin-right: -30px;
    padding: 13px 30px;
    margin-bottom: 15px;
  }
}

.header-grid__nav {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: nav;
  margin-top: 15px;
  margin-left: 68px;
}

@media screen and (max-width: 768px) {
  .header-grid__nav {
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .header-grid__nav {
    min-height: 30vh;
    height: auto;
    padding-top: 10px;
    border-radius: 12px 12px 0px 0px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.btn-circle {
  width: 42px;
  height: 42px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  position: relative;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn-circle:after {
  content: "";
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  margin-bottom: 5px;
}

.btn-circle:hover {
  border-color: #f0145a;
}

.btn-circle:hover:after {
  border-color: #f0145a;
}

.btn-txt {
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 12px;
  border-radius: 8px;
  padding: 5px 7px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
}

.btn-txt:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-txt.active {
  background-color: #f0145a;
}

.btn-close {
  background-image: none;
  color: #f0145a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-close .icon {
  font-size: 29px;
}

.info-contact {
  color: white;
  list-style-type: none;
  position: relative;
  display: inline-block;
}

.info-contact:after {
  content: "";
  padding: 2px;
  background-color: #fff;
  border-radius: 50%;
  left: -14px;
  top: calc(50% - 2px);
  position: absolute;
}

@media screen and (max-width: 576px) {
  .info-contact:after {
    display: none;
  }
}

.info-contact:not(:first-child) {
  margin-left: 20px;
}

.nav-bar {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 576px) {
  .nav-bar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .nav-bar__item {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .nav-bar__item:not(:last-child) {
    padding-bottom: 15px;
  }
  .nav-bar__item:last-child {
    padding-bottom: 12px;
  }
}

.nav-bar__item:not(:last-child) {
  margin-right: 15px;
}

@media screen and (max-width: 576px) {
  .nav-bar__item:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .nav-bar__link.link {
    color: #24a3ff;
    font-size: 24px;
    text-align: center;
    width: 100%;
    display: block;
    padding: 7px;
    background-color: #f5f5fa;
    border-radius: 12px;
  }
  .nav-bar__link.link:hover {
    background-color: #b3b3ba;
    color: #24a3ff;
  }
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hover__link:hover {
  color: #f0145a;
}

.txt-indent {
  margin-top: 15px;
}

.link {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19.5px;
  color: white;
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.link:hover {
  border-bottom-color: #f0145a;
  color: #f0145a;
}

.link.active {
  border-bottom-color: #f0145a;
  color: #f0145a;
}

.bold {
  font-weight: 700;
}

.section-second {
  padding: 60px 0;
}

.carousel.carousel-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .carousel.carousel-txt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.carousel.carousel-txt .carousel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel.carousel-txt .carousel-indicators {
  position: static;
  display: block;
  margin: 0;
  max-width: 485px;
  margin-right: 120px;
}

@media screen and (max-width: 768px) {
  .carousel.carousel-txt .carousel-indicators {
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 576px) {
  .carousel.carousel-txt .carousel-indicators {
    margin-bottom: 30px;
  }
}

.carousel.carousel-txt .carousel-indicators [data-bs-target] {
  width: 100%;
  height: auto;
  text-indent: 0;
  margin: 0;
  padding: 0;
  opacity: 1;
  background-color: transparent;
  border: none;
  padding-right: 60px;
}

@media screen and (max-width: 768px) {
  .carousel.carousel-txt .carousel-indicators [data-bs-target] {
    padding-right: 20px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .carousel.carousel-txt .carousel-indicators__inner {
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 576px) {
  .carousel.carousel-txt .carousel-indicators__inner {
    padding-bottom: 30px;
  }
}

.carousel.carousel-txt .carousel-indicators__button {
  position: relative;
}

.carousel.carousel-txt .carousel-indicators__button h4 {
  font-size: 38px;
  line-height: 46px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #b3b3ba;
  font-weight: 700;
  text-align: right;
}

.carousel.carousel-txt .carousel-indicators__button h4:hover {
  color: #f0145a;
}

.carousel.carousel-txt .carousel-indicators__button:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  right: 0;
  top: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .carousel.carousel-txt .carousel-indicators__button:after {
    display: none;
  }
}

.carousel.carousel-txt .carousel-indicators__button.active h4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ef8080), to(#f0145a));
  background: linear-gradient(#ef8080 0%, #f0145a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel.carousel-txt .carousel-indicators__button.active:after {
  background-color: #f0145a;
}

.txt--gradient {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  padding: 0 15px;
}

.color--blue {
  color: #24a3ff;
}

.txt-sm {
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  .footer--grid {
    gap: 21px;
        grid-template-areas: "adress " "phone" "copyright";
  }
  .footer-grid__adress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-grid__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .point {
    background-color: #b3b3ba00;
  }
  .copyright-txt {
    text-align: center;
  }
  .partners__cell--color-7 {
    display: none;
  }
  .partners__cell--color-8 {
    display: none;
  }
  .partners__cell--color-9 {
    display: none;
  }
  .partners__cell--color-10 {
    display: none;
  }
  .partners__cell--color-11 {
    display: none;
  }
  .partners__cell--color-12 {
    display: none;
  }
  .container {
    padding: 0 30px;
  }
  .logo_h {
    max-width: 170px;
  }
  .partners__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services_block {
    padding-top: 30px;
  }
  .card_1 {
    margin-top: 30px;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    max-width: 8.33333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-sm-2 {
    max-width: 16.66667%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-sm-3 {
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-sm-4 {
    max-width: 33.33333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-sm-5 {
    max-width: 41.66667%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-sm-6 {
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-sm-7 {
    max-width: 58.33333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-sm-8 {
    max-width: 66.66667%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-sm-9 {
    max-width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-sm-10 {
    max-width: 83.33333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-sm-11 {
    max-width: 91.66667%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-sm-12 {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .text-center {
    text-align: end;
  }
  .col-md-1 {
    max-width: 8.33333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-md-2 {
    max-width: 16.66667%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-md-3 {
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-md-4 {
    max-width: 33.33333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-md-5 {
    max-width: 41.66667%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-md-6 {
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-md-7 {
    max-width: 58.33333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-md-8 {
    max-width: 66.66667%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-md-9 {
    max-width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-md-10 {
    max-width: 83.33333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-md-11 {
    max-width: 91.66667%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-md-12 {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    max-width: 8.33333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-lg-2 {
    max-width: 16.66667%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-lg-3 {
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-lg-4 {
    max-width: 33.33333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-lg-5 {
    max-width: 41.66667%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-lg-6 {
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-lg-7 {
    max-width: 58.33333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-lg-8 {
    max-width: 66.66667%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-lg-9 {
    max-width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-lg-10 {
    max-width: 83.33333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-lg-11 {
    max-width: 91.66667%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .col-lg-12 {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .partners__box {
    padding-bottom: 60px;
  }
}
